/* src/pages/Css/styles.css */
.css-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--var-bg-primary); 
    color: var(--var-text-primary);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-top: 30px;
}

.properties-container {
    width: 100%;
    max-width: 800px; 
}

.property {
    background-color: #e0f7fa;
    border: 1px solid #009688;
    border-radius: 5px;
    padding: 15px; 
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: flex; 
    flex-direction: column;
}

.property-name {
    font-weight: bold;
    font-size: 1.5rem; 
}

.property-description {
    margin-top: 10px;
    font-size: 1.1rem; 
    display: none; 
}

.property:hover {
    background-color: #b2ebf2;
}

.property.expanded {
    transform: scale(1.05); 
}

.property.expanded .property-description {
    display: block; 
}
