.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    padding: 0 20px;
    text-align: center;
    background-color: var(--var-bg-primary);
    color: var(--var-text-primary);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin: 10px 0;
    line-height: 1.6;
}

a {
    color: var(--var-link-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: var(--var-link-hover-color);
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}
