.header-container {
    /* position: fixed; */
    top: 0;
    width: 100%;
    background-color: var(--var-bg-nav-primary);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}


header {
    display: flex;
    padding: 1px 20px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header-logo {
    height: 60px;
}

.menu {
    display: flex;
    width: 100%;
    font-style: italic;
    font: 1em sans-serif;
    justify-content: center;
    align-items: center;
    background-color: var(--var-bg-nav-primary);
}

.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 30px;

}

.menu a {
    text-decoration: none;
    color: inherit;
}

.user-button {
    margin-left: auto;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.user-button:hover {
    background-color: #ffffff;
    transform: scale(1.1);

}

.menu-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    position: absolute;
    right: 50px;
    top: 30px;
}

.bar {
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    transition: 0.3s;
}


@media (min-width: 1920px) {
    .header-container {
        font-size: 1.5rem;
    }

    .menu {
        padding: 10px 50px;
    }

    .menu li {
        font-size: 1.2rem;
        margin: 0 30px;
    }

    .header-logo {
        height: 80px;
    }

    .user-button {
        font-size: 1.2rem;
        padding: 15px;
    }

}


@media (max-width: 1200px) {
    .header-container {
        font-size: 1.2rem;
    }

    .menu li {
        font-size: 1rem;
        margin: 0 15px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }

    .header-logo {
        height: 60px;
    }
}

@media (max-width: 480px) {
    .header-container {
        font-size: 1rem;
    }

    .menu li {
        font-size: 0.9rem;
    }

    .user-button {
        font-size: 1rem;
        padding: 10px;
    }
}