.container-geral {
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    box-shadow: 0 0 5px rgba(133, 133, 133, 0.5);
    border-radius: 10px;
    flex-wrap: wrap;
}

.slider-container {
    position: relative;
    width: auto;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
}

.slider {
    overflow: hidden;
    width: 100%;
    max-height: 900px;
}


.slide {
    display: none;
    width: 600px;
    height: 600px;
    transition: all 1s ease;
}


.slide.active {
    display: block;
}


.description {
    background-color: rgba(133, 133, 133, 0.5);
    color: white;
    bottom: 0;
    width: 770px;
    margin-right: 40px;
    font-size: 1.2rem;
    position: relative;
    border-radius: 70px;
    padding: 20px;
    box-shadow: 0 0 2px #000;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 5px solid rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.prev {
    left: 1%;
}

button.next {
    right: 1%;
}

@media (max-width: 768px) {
    .slider-container {
        max-width: 100%;
        padding: 0 10px;
    }

    .slider {
        height: 40vh;
    }

    .description {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .slider {
        height: 30vh;
    }

    button.prev,
    button.next {
        padding: 5px;
    }
}

.slider img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 10px;
}

.see-more {
    text-align: center;
    width: 100%;
}

.see-more a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: 0.3s;
}